<<<<<<< HEAD
<<<<<<< HEAD
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
=======
// 複数回使う色はここに変数で定義する
$FontColor: #434A54;
$BackColer:#38AEF0;
$SubColor:#999999;
>>>>>>> ae5319e2b437da99e2182ef93f91e57d2d7b10ec
=======
// 複数回使う色はここに変数で定義する
$FontColor: #434A54;
$BackColer:#38AEF0;
$SubColor:#999999;
>>>>>>> ae5319e2b437da99e2182ef93f91e57d2d7b10ec
